 <tr>
  <td><%= lead.email %></td>
  <td><%= lead.name %></td>
  <td><%= lead.phone %></td>
  <td><%= lead.status %></td>
  <td><%= lead.add_by %></td>
        <td><%= lead.created_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= lead.conversations.count %> <i class="fa-solid fa-comment"></i></td>
        <td>
          <%= link_to lead_path(lead) do %>
          <i class="fa-solid fa-eye"></i>
          <% end %>
          <%= link_to edit_lead_path(lead) do %>
          <i class="fa-solid fa-pencil"></i>
          <% end %>
          <%= link_to "Eliminar", lead_path(lead), data: { turbo_method: :delete, turbo_confirm: '¿Estás seguro de eliminar este lead?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
