<h1 class="text-center mt-5 mb-5">
  Prospectos | <%= link_to "Ingresar nuevo prospecto", new_lead_path, style: "color: green; text-decoration: none;" %>
</h1>

<h3 class= "text-center mb-5">Prospectos: <%= @count[:prospect] %> | Interesados: <%= @count[:interested] %> | Clientes: <%= @count[:client] %></h3>

<table class="table text-center">
  <thead>
    <tr>
      <th>Email</th>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Status</th>
      <th>Ingresado por</th>
      <th>Fecha de ingreso</th>
      <th>Conversaciones</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <%# <% @leads.each do |lead| %>
    <%# <%= render "lead", lead: lead %>
    <%# <% end %>
    <%= render @leads %>
  </tbody>
</table>
