<h1 class="text-center">Prospectos</h1>


<%= link_to "Ingresar nuevo prospecto", new_lead_path, class: "btn btn-primary" %>

<p>Prospectos: <%= @count[:prospect] %> | Interesados: <%= @count[:interested] %> | Clientes: <%= @count[:client] %></p>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Status</th>
      <th>Ingresado por</th>
      <th>Fecha de ingreso</th>
      <th>Conversaciones</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <%# <% @leads.each do |lead| %>
    <%# <%= render "lead", lead: lead %>
    <%# <% end %>
    <%= render @leads %>
  </tbody>
</table>
