<div class="container sticky-top bg-white">
  <h2 class="mt-5"><strong><%= @lead.name %></strong></h2>
  <p class="m-2">Email: <%= @lead.email %></p>

  <div class="d-flex justify-content-between mb-2">
    <h4>Conversaciones</h4> <%= link_to "Volver", leads_path, class: "btn btn-secondary" %>
  </div>

  <%= form_with model: [@lead, @conversation], local: true do |form| %>
    <div class="form-group mb-3">
      <%= form.text_area :detail, rows: 5, class: "form-control" %>

      <% if @conversation.errors[:detail].any? %>
      <div class="text-danger">
        <% @conversation.errors[:detail].each do |message| %>
        <p><%= message %></p>
        <% end %>
      </div>
      <% end %>

      <%= form.submit "Subir información", class: "btn btn-success mb-3" %>
      <% end %>
    </div>

    <div class="container">
      <ul>
        <%= render @conversations %>
      </ul>
    </div>













<!-- <div class="container sticky-top bg-white">
<h2 class="mt-5"><strong><%= @lead.name %></strong></h2>
<p class="m-2">Email: <%= @lead.email %></p>

<div class="d-flex justify-content-between mb-2">
  <h4> Conversaciones</h4> <%= link_to "Volver", leads_path, class: "btn btn-secondary" %>
</div>
<%= form_with model: [@lead, @conversation], local: true do |form| %>
    <div class="form-group mb-3">
      <%= form.text_area :detail, rows: 5, class: "form-control" %>
    </div>
    <%= form.submit "Subir información", class: "btn btn-success mb-3" %>
    <%= @conversation.errors.full_messages %>
  <% end %>
</div>

  <div class="container">
    <ul>
      <%= render @conversations %>
    </ul
  </div> -->
